language: go
sudo: false
go: 
 - 1.8.x
 - 1.9.x
 - 1.10.x
 - 1.11.x
notificaitons:
  email:
    recipients: danielfireman@gmail.com
    on_success: change
    on_failure: always

env:
  - GO111MODULE=on

before_install:
  - go get github.com/mattn/goveralls

script:
 - $HOME/gopath/bin/goveralls -service=travis-ci -ignore=validator/profile_cache/*.go,examples/remote/*.go,examples/inline/*.go,examples/load_zip/*.go,examples/load/*.go,examples/zip/*.go,examples/build_package/*.go,examples/multipart/*.go
